// Create your own setting and mood by deleting or editing below

// Colors

$main: #FBFCFC;
$main-dark: #BDC3C7;
$text: #7F8C8D;
$link: #E74C3C;
$hover: #D14233;
$brown: #583321;


// Text 
a:link { color:$link; text-decoration: none; }      
a:visited {color:$link;} 
a:hover {color:$hover;}  
a:active {color:$link;}  
.red { color: $link;}
.brown { color: $brown;}

.links {
	border-top: 1px solid $link;
}
