{% block title %}404 - Cannot locate page{% endblock %}
{% block content %}
<!-- TODO: delete in container and start pouring -->
<div class="container">
	
	<h2><span class="brown"> You have been cut off!</span></h2><br>
	<h4><p class="red">404  - Cannot find the page you are looking for...</span> 
	</h4>
	
	<h4>Look in the address bar to see if you mistyped something.</a></h4>
	
	<br>
	
	<div class="manhattan"><img src="{{ "manhattans_lg.png" | asset_url }}"</div>
</div>

{% endblock %}