


 Quickly edit the HTML.tmLanguage file to add the .kit extension.
Just open the Packages folder form Sublime Text menu > Preferences > Browse Packages... and then open the HTML folder.
In the HTML.tmLanguage file add

<string>kit</string>
in the filetypes array:

   <key>fileTypes</key>
   <array>
      <string>html</string>
      <string>htm</string>
      <string>shtml</string>
      <string>xhtml</string>
      <string>phtml</string>
      <string>inc</string>
      <string>tmpl</string>
      <string>tpl</string>
      <string>ctp</string>
      <string>kit</string> <!-- add this line -->
   </array>